:root{
    --laranja1: #FD9526;
    --cinza1: #F2F2F2;
    --roxo1: #7A00FD;
    --roxo2: #2A1244;
    --verde1: #5BE33A;
    --azul1: #26CBFD;
    --vermelho1: #FD2626;
}

/* FONTES */

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
@import url('https://db.onlinewebfonts.com/c/236987803794b916d95e7fd41ed4fee0?family=SF+Pro+Text');

@font-face {
    font-family: St Transmission;
    src: url(../fontes/StTransmission600SemiBold.otf);
    font-weight: bold;
}

@font-face {
    font-family: St Transmission;
    src: url(../fontes/StTransmission200Thin.otf);
}

@font-face {
    font-family: Gobold;
    src: url(../fontes/GoboldBold.otf);
    font-weight: bold;
}

@font-face {
    font-family: Gobold Cuts;
    src: url(../fontes/GoboldCUTS.otf);
}

@font-face {
    font-family: St Pro Text;
    src: url(../fontes/StProText.ttf);
}

/* DEFAULTS */

a:active, a:focus, a:visited, a:hover{
    text-decoration: none;
}

/* UTILS */

.minh-100vh{
    min-height: 100vh;
}

.p-relative{
    position: relative;
}

.border-bottom-laranja{ 
    border-bottom: 8px solid var(--laranja1);
}

.border-light-bottom-laranja{ 
    border-bottom: 2px solid var(--laranja1);
}

.border-bottom-link:hover{
    border-bottom: 2px solid var(--laranja1);
}

.border-light-bottom-roxo{ 
    border-bottom: 2px solid var(--roxo1);
}

.border-bottom-link-roxo:hover{
    border-bottom: 2px solid var(--roxo1);
}

.border-light-bottom-azul{ 
    border-bottom: 2px solid var(--azul1);
}

.border-bottom-link-azul:hover{
    border-bottom: 2px solid var(--azul1);
}

.border-light-bottom-verde{ 
    border-bottom: 2px solid var(--verde1);
}

.border-bottom-link-verde:hover{
    border-bottom: 2px solid var(--verde1);
}

.border-light-bottom-vermelho{ 
    border-bottom: 2px solid var(--vermelho1);
}

.border-bottom-link-vermelho:hover{
    border-bottom: 2px solid var(--vermelho1);
}

.box-shadow{
    box-shadow: 0px 3px 30px #00000038;
}

/* BOOTSTRAP */

.navbar-light .navbar-toggler{
    color: white;
    border: 1px solid white;

}

.navbar-light .navbar-toggler-icon{
    margin-top: 0px;
    background-image: none;
}

.navbar-toggler-icon{ 
    width: inherit;
    height: inherit;
    padding: 5px 0px;
}

.nav-link > span{ 
    font: St Transmission;
    font-size: 15px;
    letter-spacing: 0px;
}

.link-active{
    border-bottom: 2px solid var(--laranja1);
}

.span-link:hover{ 
    border-bottom: 2px solid var(--laranja1);
}

/* FUNDOS */

.bg-cinza-1{ 
    background-color: var(--cinza1);
}

.bg-branco{
    background-color: white;
}

/* NAV */

#container-nav{
    position: fixed;
    top: 0px;
    z-index: 9999;
}

#nav-ul{
    list-style: none;
}

#nav-ul > li{
    display: inline;
    padding-right: 1.0em;
    padding-left: 1.0em;
    font: St Transmission;
    font-size: 20px;
    letter-spacing: 0px;
    color: white;
}

#nav-ul > li > a{
    color: white;
    padding-bottom: 5px;
}

#nav-ul > li > a:hover{
    border-bottom: 2px solid var(--laranja1);
}

#nav-ul > li > .nav-active{
    border-bottom: 2px solid var(--laranja1);
    color: var(--laranja1);
}

#nav-ul-fundo-branco{
    list-style: none;
}

#nav-ul-fundo-branco > li{
    display: inline;
    padding-right: 1.0em;
    padding-left: 1.0em;
    font: St Transmission;
    font-size: 20px;
    letter-spacing: 0px;
    color: var(--roxo2);
}

#nav-ul-fundo-branco > li > a{
    padding-bottom: 5px;
    color: var(--roxo2);
}

#nav-ul-fundo-branco > li > a:hover{
    border-bottom: 2px solid var(--laranja1);
}

#nav-ul-fundo-branco > li > .nav-active{
    border-bottom: 2px solid var(--laranja1);
}



#container-nav-rolled{
    position: fixed;
    top: 0px;
    background-color: white;
    z-index: 999999999;
    box-shadow: 2px 0px 30px rgba(0,0,0,0.5)

}

#nav-rolled-ul{
    list-style: none;
}

#nav-rolled-ul > li{
    display: inline;
    padding-right: 1.0em;
    padding-left: 1.0em;
    font: St Transmission;
    font-size: 15px;
    letter-spacing: 0px;
    color: black;
}


#nav-rolled-ul > li > a{
    padding-bottom: 5px;
    color: var(--roxo2);
}

#nav-rolled-ul > li > a:hover{
    border-bottom: 2px solid var(--laranja1);
}

#nav-rolled-ul > li > .nav-active{
    border-bottom: 2px solid var(--laranja1);
}

.nav-rolled{
    background-color: white;
}


/* INDEX */


/* HEADER */

#index-header{
    background: url(../imagens/fundo-header.png);
    background-size: cover;
    background-repeat: no-repeat;
}

#index-header-text > h1{
    font: St Transmission;
    font-size: calc(50px + 3vw);
    letter-spacing: 0px;
    color: #FFFFFF;
}

#header-arrow-down{
    position: absolute;
    bottom: 20px;
    left: calc(50% - 12.5px);
}

#header-social-icons{
    position: absolute;
    color: white;
    right: 20px;
    bottom: 20px;
}

/* SECTION 2 */

.index-section2-content > img{
    width: 100%;
    max-width: 240px;
    max-height: 240px;
    object-fit: cover;
    position: relative;
    z-index: 999;
}

.index-section2-content > h3{
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
}

.index-section2-content > h2{
    font-size: 28px;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
}

.index-section2-content > span{
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
}

/* SECTION 3 */

.index-section3-row1{ 
    background: url(../imagens/index-section3-fundo.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.index-section3-content > h1{
    font-size: calc(40px + 2.3vw);
    font-family: Gobold;
    font-weight: bold;
    letter-spacing: 0px;
    color: #1C1C1C;
}

.index-section3-content > h2{
    font-size: calc(40px + 2.3vw);
    font-family: Gobold Cuts;
    /* font-weight: bold; */
    letter-spacing: 0px;
    color: #1C1C1C;
}

.index-section3-content > span{
    font-family: St Transmission;
    font-size: 30px;
    letter-spacing: 0px;
    color: #000000;
}

#index-section3-title{
    max-width: 415px;
}

.index-section3-card-title > svg{
    color: var(--laranja1);
}

.index-section3-card-title > span{
    margin-left: 15px;
    font-size: 26px;
    font-family: Gobold;
    font-weight: bold;
    letter-spacing: 0px;
    color: #1C1C1C;
}

.index-section3-card-content > span{
    font-size: 20px;
    font-family: St Transmission;
    letter-spacing: 0px;
    color: #000000;
}

/* SECTION 4 */

.index-section4-row1{ 
    background: url(../imagens/index-section4-fundo.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.index-section4-content > h1{
    font-size: calc(40px + 2.3vw);
    font-family: Gobold;
    font-weight: bold;
    letter-spacing: 0px;
    color: #1C1C1C;
}

.index-section4-content > h2{
    font-size: calc(40px + 2.3vw);
    font-family: Gobold Cuts;
    /* font-weight: bold; */
    letter-spacing: 0px;
    color: #1C1C1C;
}

.index-section4-content > span{
    font-size: 25px;
    font-family: St Transmission;
    letter-spacing: 0px;
    color: #000000;
}

#index-section4-title{
    max-width: 415px;
}

.index-section4-card > img{
    max-width: 100%;
    object-fit: cover;
}

.index-section4-card > h2{
    letter-spacing: 0px;
    color: #1C1C1C;
    font-size: 30px;
    font-family: Gobold;
    font-weight: bold;
}

.index-section4-card > span{
    letter-spacing: 0px;
    color: #000000;
    font-size: 17px;
    font-family: St Transmission;
}

.index-section4-card > a{
    font-size: 23px;
    font-family: 'Roboto', sans-serif;
    /* font: normal normal normal 23px/35px Roboto; */
    letter-spacing: 0px;
    color: #000000;
}

/* FOOTER CONTATO */

#footer-contato-titulo{
    font: normal normal normal 30px Gobold;
    font-weight: bold;
    letter-spacing: 0px;
    color: #1C1C1C;
}

.footer-contato-conteudo > h2{
    font-size: 28px;
    font-family: St Pro Text;
    letter-spacing: 0px;
    color: #1C1C1C;
}

.footer-contato-conteudo > span{
    font-size: 15px;
    font-family: St Pro Text;
    letter-spacing: 0px;
    color: #1C1C1C;
}

.footer-contato-conteudo > a{
    font-size: 23px;
    font-family: 'Roboto', sans-serif;
    /* font: normal normal normal 23px/35px Roboto; */
    letter-spacing: 0px;
    color: #000000;
}

.footer-contato-conteudo-link-span{ 
    font-size: 23px;
    font-family: 'Roboto', sans-serif;
    /* font: normal normal normal 23px/35px Roboto; */
    letter-spacing: 0px;
    color: #000000;
}

.footer-contato-conteudo > input{
    border-radius: 37px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #707070;
    width: 100%;
    max-width: 400px;
}

.footer-contato-conteudo > input::placeholder{
    color: #C3C3C3;
}

.footer-content > img{
    width: 100%;
    max-width: 220px;
}

.footer-content > h4{
    font-size: 14px;
    font-family: St Pro Text;
    font-weight: bold;
    letter-spacing: 0px;
    color: #000000;
}

.footer-content > ul{
    padding: 0px;
}

.footer-content > ul > li{
    list-style: none;
    font-size: 14px;
    font-family: St Pro Text;
    letter-spacing: 0px;
    color: #747474;
}

/* PUMPKIN */

/* SECTION 1 */

.pumpkin-section1-row1{
    background: url(../imagens/pumpkin-section1-fundo.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

#pumpkin-section1-title{
    max-width: 415px;
}

.pumpkin-section1-content > h1{
    font-size: calc(40px + 2.3vw);
    font-family: Gobold;
    font-weight: bold;
    letter-spacing: 0px;
    color: #1C1C1C;
}

.pumpkin-section1-content > h2{
    font-size: calc(40px + 2.3vw);
    font-family: Gobold Cuts;
    /* font-weight: bold; */
    letter-spacing: 0px;
    color: #1C1C1C;
}

.pumpkin-section1-content > span{
    font-family: St Transmission;
    font-size: 30px;
    letter-spacing: 0px;
    color: #000000;
}

.pumpkin-section1-card-content > img{
    width: 100%;
    object-fit: contain;
    /* max-width: 659px; */
}

.pumpkin-section1-card-content > h2{
    font-size: 35px;
    font-family: St Pro Text;
    font-weight: normal;
    letter-spacing: 0px;
    color: #000000;
}

.pumpkin-section1-card-content > span{
    font-size: 18px;
    font-family: St Pro Text;
    letter-spacing: 0px;
    color: #000000;
}

/* SECTION 2 */

.pumpkin-section2-row1{
    background: url(../imagens/pumpkin-section2-fundo.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    padding: 3em 0;
}

#pumpkin-section2-title{
    max-width: 415px;
}

.pumpkin-section2-content > h1{
    font-size: calc(40px + 2.3vw);
    font-family: Gobold;
    font-weight: bold;
    letter-spacing: 0px;
    color: #1C1C1C;
}

.pumpkin-section2-content > h2{
    font-size: calc(40px + 2.3vw);
    font-family: Gobold Cuts;
    /* font-weight: bold; */
    letter-spacing: 0px;
    color: #1C1C1C;
}

.pumpkin-section2-icon{
    height: 100px;
}

.pumpkin-section2-icon > img{
    max-width: 80px;
    margin: auto auto;
}

/* CASES */

/* SECTION 1 */

.cases-section1-row1{
    background: url(../imagens/cases-section1-fundo.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    padding: 3em 0;
}

#cases-section1-title{
    max-width: 415px;
}

.cases-section1-content > h1{
    font-size: calc(40px + 2.3vw);
    font-family: Gobold;
    font-weight: bold;
    letter-spacing: 0px;
    color: #1C1C1C;
}

.cases-section1-slide-content > h1{
    font: normal normal bold 45px/35px St Pro Text;
    letter-spacing: 0px;
    color: #000000;
}

.cases-section1-slide-content > h2{
    font-size: 45px;
    font-weight: 300;
    font-family: St Pro Text;
    letter-spacing: 0px;
    color: #000000;
}

.cases-section1-slide-content > span{
    font: normal normal 300 15px/23px St Pro Text;
    letter-spacing: 0px;
    color: #000000;
}

.cases-section1-card-content > img{
    width: 100%;
    height: 100%;
    object-fit: contain;
    /* max-width: 659px; */
}

.cases-section1-card-content > h2{
    font-size: calc(20px + 1.1vw);
    /* font-size: 35px; */
    font-family: St Pro Text;
    font-weight: normal;
    letter-spacing: 0px;
    color: #000000;
}

.cases-section1-card-content > span{
    /* font-size: calc(5px + 0.7vw); */
    font-family: St Pro Text;
    letter-spacing: 0px;
    color: #000000;
}

.cases-section1-card-content > a{
    font-size: 28px;
    font-family: 'Roboto', sans-serif;
    /* font: normal normal normal 28px/35px Roboto; */
    letter-spacing: 0px;
    color: #000000;
}

/* BLOG */

.blog-nav-content > a{
    font-size: 28px;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 0px;
    color: black;
}

.blog-section1-card-content > img{
    width: 100%;
    height: 100%;
    object-fit: contain;
    /* max-width: 659px; */
}

.blog-section1-card-content > .button-roxo{
    background-color: var(--roxo1);
    color: white;
    border: 0px;
    border-radius: 25px;
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
}

.blog-section1-card-content > .button-vermelho{
    background-color: var(--vermelho1);
    color: white;
    border: 0px;
    border-radius: 25px;
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
}

.blog-section1-card-content > h2{
    font-size: calc(20px + 1.1vw);
    /* font-size: 35px; */
    font-family: St Pro Text;
    font-weight: normal;
    letter-spacing: 0px;
    color: #000000;
}

.blog-section1-card-content > span{
    /* font-size: calc(5px + 0.7vw); */
    font-size: 18px;
    font-family: St Pro Text;
    letter-spacing: 0px;
    color: #000000;
}

.blog-section1-card-content > a{
    font-size: 28px;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 0px;
    color: #000000;
}

/* SECTION 2 */

.blog-section2-content > img{
    width: 100%;
    max-width: 240px;
    max-height: 240px;
    object-fit: cover;
    position: relative;
    z-index: 999;
}

.blog-section2-content > h3{
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
}

.blog-section2-content > h2{
    font-size: 28px;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
}

.blog-section2-content > span{
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
}

/* CONTATO */

.contato-form-content > h3{
    font-size: 30px;
    font-family: St Pro Text;
    letter-spacing: 0px;
    color: #1C1C1C;
}

.contato-form-content > label{
    font-size: 23px;
    font-family: St Pro Text;
    letter-spacing: 0px;
    color: #000000;
}

.contato-form-content > input{
    border-radius: 37px;
    color: #000000;
}

.contato-form-content > select{
    border-radius: 37px;
    color: #000000;
    height: 50px;
}

.contato-form-content > textarea{
    border-radius: 37px;
    color: #000000;
}

.contato-form-content > a{
    font-size: 23px;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 0px;
    color: #000000;
}


/* CARD WEBINAR */

.webinar-card-title{
    font-size: 14px !important;
    font-family: 'Roboto', sans-serif !important;
    font-weight: bold !important;
    letter-spacing: 0px;
    color: #FFFFFF !important;
    position: absolute;
    top: 12%;
    left: 15%;
    z-index: 999999;
    text-align: left;
}

.webinar-card-quadrado-laranja{
    width: 100px;
    height: 100px;
    background-color: var(--laranja1);
    position: absolute;
    top: -10px;
    left: -10px;
}

.webinar-card-quadrado-roxo{
    width: 100px;
    height: 100px;
    background-color: var(--roxo1);
    position: absolute;
    top: -10px;
    left: -10px;
}

.webinar-card-quadrado-verde{
    width: 100px;
    height: 100px;
    background-color: var(--verde1);
    position: absolute;
    top: -10px;
    left: -10px;
}

.webinar-card-quadrado-azul{
    width: 100px;
    height: 100px;
    background-color: var(--azul1);
    position: absolute;
    top: -10px;
    left: -10px;
}

.webinar-card-logo{
    position: absolute !important;
    top: 20%;
    left: 15%;
    z-index: 999999 !important;
    text-align: left;
    max-width: 120px !important;
}

.webinar-card-text{ 
    font-size: 14px !important;
    font-family: 'Roboto', sans-serif !important;
    font-weight: bold !important;
    letter-spacing: 0px;
    color: #CCCCCC !important;
    position: absolute;
    top: 50%;
    left: 15%;
    z-index: 999999;
    text-align: left;
}

.webinar-card-button-laranja{
    background-color: var(--laranja1);
    height: 40px;
    width: 40px;
    color: black;
    position: absolute;
    bottom: 0px;
    right: 0px;
    z-index: 999999;
    border: 0px;
}

.webinar-card-button-verde{
    background-color: var(--verde1);
    height: 40px;
    width: 40px;
    color: black;
    position: absolute;
    bottom: 0px;
    right: 0px;
    z-index: 999999;
    border: 0px;
}

.webinar-card-button-azul{
    background-color: var(--azul1);
    height: 40px;
    width: 40px;
    color: black;
    position: absolute;
    bottom: 0px;
    right: 0px;
    z-index: 999999;
    border: 0px;
}

.webinar-card-button-roxo{
    background-color: var(--roxo1);
    height: 40px;
    width: 40px;
    color: white;
    position: absolute;
    bottom: 0px;
    right: 0px;
    z-index: 999999;
    border: 0px;
}